body{
    text-align: center;
    background-image: url(tic-tac-toe-4231109_1920.jpg);
    background-size: cover;   
    color: black;
    font-weight: bold; 
}

h1, .jogador, .vencedor, .contador-x, .contador-o{
    background-color: rgba(237, 238, 242, 0.625);
    width: fit-content;
    margin: 0 auto;
    
}

.box{
    padding: 0 auto;
    margin: 0 auto;
    background-color: black;
    width: fit-content;
}

.quadrado{
    
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.jogador, .vencedor{
    font-size: 30px;
    margin-top: 10px;
}

.contador-x, .contador-o{
    font-size: 30px;
    margin-top: 10px;
}

.jogador-o-selecionado{
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #eee;
    cursor: pointer;
}

.estilo1, .estilo4, .estilo7{
    border-right: 2px solid black;
    
}

.estilo4, .estilo5, .estilo6{
    border-top: 2px solid black;
    border-bottom: 2px solid black;;
}

.estilo2, .estilo5, .estilo8{
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.estilo1, .estilo2, .estilo3{
    border-bottom: 2px solid black;
}

.estilo7, .estilo8, .estilo9{
    border-top: 2px solid black;
}

.estilo3, .estilo6, .estilo9{
    border-left: 2px solid black;
}